@import './../../../assets/styles/configuration/_colors';

.app-link {
  color: map-get($palette,_action);

  &.color-inherit{
  	color: inherit;
  }
}

.router-link-exact-active {
  margin-bottom: 4px;
  border-bottom: 2px solid map-get($palette,_highlight);
}