@import './../../../assets/styles/configuration/_colors';
@import './../../../assets/styles/configuration/_mixins/_theme';

.button{
	background: none;
	padding: 0;
	border-radius: 2px;

	&.primary{
		@include theme($palette,_action);
		padding: 0.5rem 1rem;
	}

	&.is-icon{
		background: red;
		height: 1rem;
		width: 1rem;
	}
}