@import './../../../assets/styles/configuration/_colors';

.button{
	background: none;
	padding: 0;
	border-radius: 2px;

	&.primary{
		background: $vueGreen;
		color: $white;
		padding: 0.5rem 1rem;
	}

	&.is-icon{
		background: $red;
		height: 1rem;
		width: 1rem;
	}
}