@import './../../../assets/styles/configuration/_colors';
@import "./../../../../node_modules/foundation-sites/scss/util/_util";

.card{
	border: 1px solid $lightGrey;
	border-radius: rem-calc(5px);
	display: flex;
	padding: {
		top: 1rem;
		bottom: 1rem;
		left:  rem-calc(24);
		right: rem-calc(24);
	};

	&-media{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 1rem;
	}

	.author{
		display: flex;
		align-items: center;

		small{
			margin-right: rem-calc(4);
		}
	}
}