// This is where colors are added. Accessible by map-get syntax 
// (map-get($colors,color-name))
// Use http://chir.ag/projects/name-that-color/ to name your colours
$colors:(
	_black:#000,
	_venice-blue:#0a51a1,
	_white:#fff
);

$dark:map-get($colors,_black);
$light:map-get($colors,_white);
$nav:map-get($colors,_venice-blue);

// Colors from Google's Material Design
$red:                   #e4002b;
$pink:                  #e91e63;
$purple:                #9c27b0;
$deepPurple:            #673ab7;
$indigo:                #3f51b5;
$lightBlue:             #03a9f4;
$cyan:                  #00bcd4;
$teal:                  #009688;
$green:                 #00b140;
$lightGreen:            #8bc34a;
$lime:                  #cddc39;
$yellow:                #eeb33b;
$amber:                 #ffc107;
$orange:                #ff9800;
$deepOrange:            #ff5722;
$brown:                 #795548;
$grey:                  #9e9e9e;
$blueGrey:              #607d8b;
// $black:                 #000000;
// $white:                 #ffffff;

$lightGrey:             #e0e0e0;
$material-background:   #eee;
$vueGreen: #4fc08d;


//Foundation
$primary: $vueGreen;
$secondary: $indigo;
$success: $green;
$warning: $yellow;
$alert: $red;


$lighter-gray: #f8f8f9;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$darker-gray: #6d6e71;
$white: #fefefe;
$black: #2c3e50;


@function palette(){
	$palette:(
		_action:$vueGreen,
		_brand:map-get($colors,_venice-blue),
		_highlight:map-get($colors,_venice-blue),
    	_link:$vueGreen
	);
	@return $palette;
}

