//fonts
$print-font-size:     	12px;

// Common Font Weights From Google Fonts
$thin: 100;
$light-font: 300;
$normal: 400;
$medium: 500;
$bold: 700;
$ultra-bold: 900;

$global-weight-normal: $normal;

// Variable settings for grids
// $gutter:                20px;
// $gutterTablet:          12px;
// $gutterDesktop:         20px;

