// Import all needed help
@import 'configuration/_functions/_contrast';

@import 'configuration/_mixins/_layout';

@import 'configuration/_base';
@import 'configuration/_colors';
@import 'configuration/_fonts';
@import 'configuration/_variables';

@import 'configuration/_formatting/_images';
@import 'configuration/_formatting/_table';


//import Foundation 
@import 'vendor/foundation/foundation';

// Import app layout
@import 'app/_app-layout';

html{
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	// height: 100%; //otherwise #app won't take its height on IE and FF
}

#app {
	flex: 1 0 auto;
}



